{% extends 'aminicar/main/base.html' %}
{% load static%}
{%  block content %} 
<!-- SECTION -->
<div class="section">
<!-- container -->
<div class="container">
<!-- row -->
<div class="row">
<!-- Product main img -->
<div class="col-md-5 col-md-push-2">
<div id="product-main-img">
<div class="product-preview">
    <img src="{% static '' %}./product/1884511160_1/1884511160_1(1).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/1884511160_1/1884511160_1(2).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/1884511160_1/1884511160_1(3).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/1884511160_1/1884511160_1(1).jpg" alt="">
</div>
</div>
</div>
<!-- /Product main img -->

<!-- Product thumb imgs -->
<div class="col-md-2  col-md-pull-5">
<div id="product-imgs">
<div class="product-preview">
<img src="{% static '' %}./product/1884511160_1/1884511160_1(1).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/1884511160_1/1884511160_1(2).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/1884511160_1/1884511160_1(3).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/1884511160_1/1884511160_1(1).jpg" alt="">
</div>
</div>
</div>
<!-- /Product thumb imgs -->

<!-- Product details -->
<div class="col-md-5">
<div class="product-details">
<h2 class="product-name">هواکش  HYUNDAI</h2>
<div>
<div class="product-rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
</div>
<a class="review-link" href="#">10 Review(s) | Add your review</a>
</div>
<div>
<h3 class="product-price">ریال7,800,000 <del class="product-old-price">9,000,000 ریال  </del></h3>
<span class="product-available">In Stock</span>
</div>
<p class="explan_product">1884511160 یک نوع شمع موتور هست.شمع موتور یکی از اجزای مهم و ضروری در سیستم احتراق داخلی خودروها است که برای ایجاد جرقه الزامی برای احتراق مخلوط سوخت و هوا در اتاق سوختن موتور استفاده می‌شود. شمع‌های موتور در تمامی انواع خودروها، از خودروهای سواری تا خودروهای تجاری و سنگین، استفاده می‌شوند.</p>

<div class="add-to-cart">

<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
</div>

<ul class="product-btns">
<li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>

</ul>


<ul class="product-links">
<li>Share:</li>
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-telegram"></i></a></li>
</ul>

</div>
</div>
</div>
<!-- /row-->
</div>
<!-- /container -->
</div>
<!-- /section -->
  
<!-- FOOTER -->
{% endblock %}

