{% extends 'aminicar/main/base.html' %}
{% load static %}
{% block content %}
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Delivery Address</h3>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="city" placeholder="city">
							</div>
							<div class="form-group"><div class="form-group">
  <input class="input" type="text" name="address" placeholder="Delivery Address">
</div>

<div class="form-group">
  <input class="input" type="text" name="post-code" placeholder="Postal Code">
</div>

<div class="form-group">
  <input class="input" type="tel" name="tel" placeholder="Phone Number">


<div class="form-group">
  <input class="input" type="email" name="email" placeholder="Email Address">
</div>

							<div class="form-group">
								<div class="input-checkbox">
									<div class="caption">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
										<input class="input" type="password" name="password" placeholder="Enter Your Password">
									</div>
								</div>
							</div>
						</div>
						<!-- /Billing Details -->

						<!-- Order notes -->
						<div class="order-notes">
							<textarea class="input" placeholder=" Additional Information "></textarea>
						</div>
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
						<h3 class="title">Your total requests amount to {{ cart_total }}</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								
								
								<div><strong>Part Number</strong></div>
<div><strong>Name & Brand</strong></div>
<div><strong>Price</strong></div>

							</div>
					{% csrf_token %}
							{% for item in cart_items %}
							<div class="order-products">
								<div class="order-col">
									
									<div>{{ item.product.title }}</div>
									<div>{{ item.product.mark }}</div>
									<div>{{ item.quantity }}x ریال {{ item.product.price }}</div>
								</div>
								
							</div>
							{%endfor%}
							
							<div class="order-col">
						<div>Product Delivery</div>
<div><strong>Free of Charge</strong></div>

							</div>
							<div class="order-col">
								<div><strong>Price List</strong></div>

								<div><strong class="order-total">{{total_price}}</strong></div>
							</div>
						</div>
						<div class="payment-method">
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-1">
								<label for="payment-1">
									<span></span>
									Payment Method: Bank Transfer
								</label>
								<div class="caption">
									<p>Your product will arrive in two days.</p>
								</div>
							</div>
			
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-3">
								<label for="payment-3">
									<span></span>
								Pay with Cash
								</label>
								<div class="caption">
									<p>Your item will arrive in 4 hours.</p>

								</div>
							</div>
						</div>
						<div class="input-checkbox">
							<input type="checkbox" id="terms">
							<label for="terms">
								<span></span>
								<p>I agree to the <a href="#">terms and conditions</a>.</p>

							</label>
						</div>
						<a href="#" class="primary-btn order-submit">Place order</a>
					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
  
		<!-- FOOTER -->
		<script src="{% static 'js/cart.js' %}" type="text/javascript"></script>

		{% endblock %}
		
		