{% extends 'aminicar/main/base.html' %}
{% load static%}
{%  block content %} 

  <!-- SECTION -->
  <div class="section">
  <!-- container -->
  <div class="container">
  <!-- row -->
  <div class="row">
  <div class="col-md-12">
  <div class="section-title">
  <div class="section-nav">
  <ul class="section-tab-nav tab-nav">
  <h1><li class="active"><a name="NEW" data-toggle="tab" href="#tab2"> نمایندگی های  ما</a></li></h1>
  </ul>
  </div>
  </div>
  </div>
  <!-- shop -->
  
  <div class="col-md-6 col-xs-6">
  <div class="shop">
  <div class="shop-img">
    <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
  </div>
  <div class="shop-body">
  <h3>کابل نمایندگی </h3>
  <a href="{%url 'product:product_detail' product_id=2%}" class="cta-btn">مشاهده نمایندگی <i class="fa fa-arrow-circle-right"></i></a>


</div>
  </div>
  </div>
  <!-- /shop -->
  
  <!-- shop -->
  <div class="col-md-6 col-xs-6">
  <div class="shop">
  <div class="shop-img">
    <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
  </div>
  <div class="shop-body">
  <h3> هرات نمایندگی </h3>
  <a href="{%url 'product:product_detail' product_id=1%}" class="cta-btn">مشاهده نمایندگی <i class="fa fa-arrow-circle-right"></i></a>
  </div>
  </div>
  </div>
  <!-- /shop -->
  
  </div>
  <!-- /row -->
  </div>
  <!-- /container -->
  </div>
  <!-- /SECTION -->

<!-- NEWSLETTER -->
<div id="newsletter" class="section"></div>
<!-- NEWSLETTER -->
  
	<!-- SECTION -->

  <div class="section">
		<!-- container -->
    <div class="container">
			<!-- row -->
      <div class="row">
				<!-- Company details -->
				<div class="col-md-12 Company-details">
						<p>
              <a href="#Company-name"></a>
            <h1 id="Company-name" class="Company-name">Family Mart | فامیلی مارت</h1>
						<h4>
              به فامیلی مارت خوش آمدید — زندگی هوشمند از اینجا شروع می‌شود.<br>
              فامیلی مارت با بیش از ۲۰ سال تجربه در واردات و عرضه محصولات باکیفیت، خانه‌ها را به سبک زندگی مدرن و هوشمند نزدیک‌تر می‌کند.<br>
              حوزه کاری ما لوازم خانگی برقی شامل یخچال، لباسشویی و تلویزیون است؛ با کیفیت عالی و قیمت مناسب.<br>
              واردات مستقیم از سنگاپور و دوبی انجام می‌شود و سابقه واردات از ژاپن، آمریکا، ایران، پاکستان، دوبی و چین را داریم.<br>
              فعالیت‌های قبلی ما در شهرهای مختلف افغانستان (هرات، مزار شریف، قندهار، هلمند، نیمروز) بوده و اکنون تمرکز بر کابل است تا خدمات به‌روزتر ارائه دهیم.
						</h4>
						</p>
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- /SECTION -->

<!-- NEWSLETTER -->
<div id="newsletter" class="section"></div>
<!-- NEWSLETTER -->

  
  <!-- SECTION -->
  <div class="section">
  <!-- container -->
  <div class="container">
  <!-- row -->
  <div class="row">
  
  <!-- section title -->
  <div class="col-md-12">
  <div class="section-title">
  
  <div class="section-nav">
  <ul class="section-tab-nav tab-nav">
  <h1><li class="active">محصولات ما</li></h1>
  
  </ul>
  </div>
  </div>
  </div>
  <!-- /section title -->
  
  <!-- Products tab & slick -->
  <div class="col-md-12">
    <div class="row">
      <div class="products-tabs">
        <!-- tab -->
         <a href="#products"></a>
        <div id="tab1" class="tab-pane active">
          <div class="products-slick" data-nav="#slick-nav-1">

    {% if products %}
    {% for product in products %}
   
    <!-- product -->
    <div id="products" class="product">
      <div class="product-img">
        <img src="{{product.image.url}}" alt="">
        <div class="product-label">
          <span class="sale">-5%</span>
        </div>
      </div>
      <div class="product-body">
        <p class="product-category">{{product.mark}}</p>
        <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=product.id%}">شماره قطعه<br>{{product.port}}<br>{{product.name}}</a></h3>
        <h4 class="product-price">{{product.show_price}} AFN <del class="product-old-price">{{product.discounted_price}} AFN</del></h4>
        <div class="product-rating">
        </div>
        <div class="product-btns">
          <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">افزودن به علاقه‌مندی</span></button>
          <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">مقایسه</span></button>
          <button class="quick-view"><a href="{%url 'product:product_detail' product_id=product.id%}"><i class="fa fa-eye"></i></a><span class="tooltipp">نمایش سریع</span></button>
        </div>
      </div>
      <div class="add-to-cart">
        <input type="hidden" class="prodt_id" value="{{ product.id }}">
        <button class="add-to-cart-btn" onclick="location.href='{% url 'product:product_detail' product.id %}'">
          <i class="fa fa-eye"></i> نمایش محصول
        </button>
      </div>
    </div>
    <!-- /product -->

    {% endfor %}
    {% else %}
    <h1>محصولی موجود نیست</h1>
    {% endif %}

  </div>
  </div>
  <!-- /tab -->
  </div>
  </div>
  </div>
  <!-- Products tab & slick -->

  </div>
  <!-- /row -->
  </div>
  <!-- /container -->
  </div>
  <!-- /SECTION -->

  <!-- NEWSLETTER -->
<div id="newsletter" class="section"></div>
<!-- NEWSLETTER -->

	<!-- SECTION -->
<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- Company details -->
				<div class="col-md-12 Company-details">
          <a href="#choose"></a>
          <div class="">
            <h1  class="title">چرا فامیلی مارت؟</h1>
						<p>
            <h4 id="choose">
              با فامیلی مارت، انتخابی هوشمندانه داشته باشید!<br>
              - تست محصولات پیش از فروش برای اطمینان از سالم بودن<br>
              - ضمانت سه‌ماهه با تعمیرات رایگان در صورت بروز مشکل<br>
              - ارائه‌ی اکانت ویژه هوش مصنوعی برای پاسخ‌های صوتی و تصویری پس از خرید<br>
              - امکان سفارش محصولات ویژه مطابق نیاز و سلیقه شما
            </h4>
						</p>
					</div>
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- /SECTION -->

<!-- NEWSLETTER -->
<div id="newsletter" class="section"></div>
<!-- NEWSLETTER -->

  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
    <!-- row -->
     
    <div class="row">
      
    <div class="col-md-4 col-xs-6">
      <a href="#choose"></a>
    <div class="section-title">
    <h4 class="title" id="all">همه محصولات</h4>
    <div class="section-nav">
    <div id="slick-nav-3" class="products-slick-nav"></div>
    </div>
    </div>
    
    <div class="products-widget-slick" data-nav="#slick-nav-3">
    <div>
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=2%}">LR012345</a></h3>
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=1%}">LR012346</a></h3>
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=2%}">LR012347</a></h3>
    </div>
    </div>
    <!-- product widget -->
    </div>
    
    <div>
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=1%}">LR012348</a></h3>
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=2%}">LR012349</a></h3>
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=1%}">LR012350</a></h3>
    </div>
    </div>
    <!-- product widget -->
    </div>
    </div>
    </div>
    
    <div class="col-md-4 col-xs-6">
    <div class="section-title">
    <h4 class="title">همه محصولات</h4>
    <div class="section-nav">
    <div id="slick-nav-4" class="products-slick-nav"></div>
    </div>
    </div>
    
    <div class="products-widget-slick" data-nav="#slick-nav-4">
    <div>
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=1%}">LR012351</a></h3>
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=2%}">LR012352</a></h3>
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=1%}">LR012353</a></h3>
    </div>
    </div>
    <!-- product widget -->
    </div>
    
    <div>
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=2%}">LR012354</a></h3>
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=1%}">LR012355</a></h3>
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=2%}">LR012356</a></h3>
    </div>
    </div>
    <!-- product widget -->
    </div>
    </div>
    </div>
    
    <div class="clearfix visible-sm visible-xs"></div>
    
    <div class="col-md-4 col-xs-6">
    <div class="section-title">
    <h4 class="title">همه محصولات</h4>
    <div class="section-nav">
    <div id="slick-nav-5" class="products-slick-nav"></div>
    </div>
    </div>
    
    <div class="products-widget-slick" data-nav="#slick-nav-5">
    <div>
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=1%}">LR012357</a></h3>
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=2%}">LR012358</a></h3>
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=1%}">LR012359</a></h3>
    </div>
    </div>
    <!-- product widget -->
    </div>
    
    <div>
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=2%}">LR012360</a></h3>
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=1%}">LR012361</a></h3>
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">LAND ROVER</p>
    <h3 class="product-name"><a href="{%url 'product:product_detail' product_id=2%}">LR012362</a></h3>
    </div>
    </div>
    <!-- product widget -->
    </div>
    </div>
    </div>
    
    </div>
    <!-- /row -->
    </div>
    <!-- /container -->
    </div>
    <!-- /SECTION -->
  
{%  block map_shop %} {% include 'aminicar/main/map_shop.html' %} {% endblock %}

<!-- FOOTER -->
{% endblock %}