<!DOCTYPE html>
<html lang="en">
<head>
    
    
{%  block head_tag %} {% include 'aminicar/main/head_tag.html' %} {% endblock %}

    </head>
<body>
<!-- HEADER -->
<h1>hello {{ name }}</h1>
{%  block header %} {% include 'aminicar/main/header.html' %} {% endblock %}

<!-- /HEADER -->

{%  block test %} {% include 'aminicar/main/test.html' %} {% endblock %}


<!-- NEWSLETTER -->
<!-- /google map -->


{%  block map_shop %} {% include 'aminicar/main/map_shop.html' %} {% endblock %}

<!-- /NEWSLETTER -->

<!--/map -->

<!-- FOOTER -->
{%  block footer %} {% include 'aminicar/main/footer.html' %} {% endblock %}

<!-- /FOOTER -->


</body>
</html>
