
<!-- NEWSLETTER -->
<div id="newsletter" class="section"></div>
<!-- NEWSLETTER -->
  
	<!--start section -->
	<section id="contact">

		<h1 class="section-header">به راحتی با ما ارتباط برقرار کنید</h1>
		<div class="col-sm-12 col--12">
		
		</div>
		<div class="contact-wrapper">

			<!-- Left contact page -->

			<form id="contact-form" class="form-horizontal" role="form">

				<div class="form-group">
					<div class="col-sm-12">

						<input type="text" class="form-control" id="name"
							placeholder="نام خود را بنویسید" name="name" value="" required>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">

						<input type="email" class="form-control" id="email"
							placeholder="ایمیل خود را بنویسید" name="email" value="" required>
					</div>
				</div>

				<textarea class="form-control" rows="10" placeholder="پیام خود را بنویسید"
					name="message" required></textarea>

				<button class="btn btn-primary send-button" id="submit"
					type="submit" value="SEND">
					<div class="alt-send-button">
						<i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
					</div>

				</button>

			</form>

			<!-- Left contact page -->

			<div class="direct-contact-container">

				<ul class="contact-list">
					<li class="list-item"><i class="fa fa-map-marker fa-2x"><span
							class="contact-text place">ایران, تهران</span></i></li>

					<li class="list-item"><i class="fa fa-phone fa-2x"><span
							class="contact-text phone"><a href="tel:1-212-555-5555"
								title="Give me a call">(+98) 9036902400</a></span></i></li>

					<li class="list-item"><i class="fa fa-envelope fa-2x"><span
							class="contact-text gmail"><a href="mailto:#"
								title="Send me an email">smartcar@gmail.com</a></span></i></li>

				</ul>

				<hr class="hrRed">
				<ul class="social-media-list">
					<li><a href="#" target="_blank" class="contact-icon"> <i
							class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
					<li><a href="#" target="_blank" class="contact-icon"> <i
							class="fa fa-telegram" aria-hidden="true"></i></a></li>
					<li><a href="#" target="_blank" class="contact-icon"> <i
							class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" target="_blank" class="contact-icon"> <i
							class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
				<hr class="hrRed">


			</div>

		</div>

	</section>

	<!-- section -->


<!-- NEWSLETTER -->
<div id="newsletter" class="section"></div>
<!-- NEWSLETTER -->
  



<!-- map-->


<div class="section">
    <!-- container -->
    <div class="container">
    <!-- row -->
    <div class="row">
    <div class="col-md-12">
    <div class="card" id="iframe_map" style="display:block"  >
    
    <div class="card-title"><a name="location"></a>
    <i class="fa fa-map-marker" style="color:red;" ></i><h4 style="display:inline;">موقعیت شرکت</h4>
    </div>
    <div class="card-text"><p align="center">مشهد بهار 6</p></div>
    <div class="card-stats"  >
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.7640835595607!2d69.11680067454307!3d34.53420459213017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38d16f6afc431847%3A0x9d6ecd20d2a495ed!2sPolytechnic%20University!5e0!3m2!1sen!2s!4v1692116283750!5m2!1sen!2s" width="1400" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
    </div>
    </div>
    
    <!-- row-->
    </div>
    
    <!-- container-->
    </div>

<!-- /map-->
