<!-- NEWSLETTER -->
<div id="newsletter" class="section"></div>
<!-- NEWSLETTER -->
<a href="#contact"></a>  
	

  



<!-- map-->
<a href="#location"></a> 

<div class="section" id="location">
    <!-- container -->
    <div class="container">
    <!-- row -->
    <div class="row">
    <div class="col-md-12">
    <div class="card" id="iframe_map" style="display:block"  >
    
	<div class="card-title"><a name="location"></a>
	<i class="fa fa-map-marker" style="color:red;" ></i><h4 style="display:inline;">موقعیت فروشگاه</h4>
    </div>
	<div class="card-text"><p align="center">آدرس: کابل، چهارراهی پل سرخ، لب دریا، پهلوی حمام پنج‌ستاره</p></div>
    <div class="card-stats"  >
		
	<iframe style="display: table;margin-left: auto;margin-right: auto;" src="https://www.google.com/maps?q=Pul%20Surkh%2C%20Kabul&output=embed" width="700" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>	
</div>
    </div>
    </div>
    </div>
    
    <!-- row-->
    </div>
    
    <!-- container-->
    </div>

<!-- /map-->
