{% load static%}


  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
            <!-- row -->
    <div class="row">
        <div class="col-md-3 col-xs-6">
        <div class="section-title">
        <h4 class="title">تمام محصولات</h4>
        <div class="section-nav">
        <div id="slick-nav-3" class="products-slick-nav"></div>
        </div>
        </div>
        
        <div class="products-widget-slick" data-nav="#slick-nav-3">
        <div>
        <!-- product widget -->
        <div class="product-widget">
        <div class="product-img">
          <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
        </div>
        <div class="product-body">
        <p class="product-sumsong">HYUNDAI</p>
        <h3 class="product-name"><a href="storemachin.html">273012B010</a></h3>
        
        </div>
        </div>
        <!-- /product widget -->
        
        <!-- product widget -->
        <div class="product-widget">
        <div class="product-img">
          <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
        </div>
        <div class="product-body">
        <p class="product-sumsong">HYUNDAI</p>
        <h3 class="product-name"><a href="storeTV.html">2630035505</a></h3>
        
        </div>
        </div>
        <!-- /product widget -->
        
        <!-- product widget -->
        <div class="product-widget">
        <div class="product-img">
          <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
        </div>
        <div class="product-body">
        <p class="product-sumsong">HYUNDAI</p>
        <h3 class="product-name"><a href="storemachin.html">273012B010</a></h3>
        
        </div>
        </div>
        <!-- product widget -->
        </div>
        
        <div>
        <!-- product widget -->
        <div class="product-widget">
        <div class="product-img">
          <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
      
        </div>
        <div class="product-body">
        <p class="product-sumsong">HYUNDAI</p>
        <h3 class="product-name"><a href="storeTV.html">2630035505</a></h3>
        
        </div>
        </div>
        <!-- /product widget -->
        
        <!-- product widget -->
        <div class="product-widget">
        <div class="product-img">
          <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
        </div>
        <div class="product-body">
        <p class="product-sumsong">HYUNDAI</p>
        <h3 class="product-name"><a href="storemachin.html">273012B010</a></h3>
        
        </div>
        </div>
        <!-- /product widget -->
        
        <!-- product widget -->
        <div class="product-widget">
        <div class="product-img">
        <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
      
        </div>
        <div class="product-body">
        <p class="product-sumsong">HYUNDAI</p>
        <h3 class="product-name"><a href="storeTV.html">2630035505</a></h3>
        
        </div>
        </div>
        
        <!-- product widget -->
        </div>
        </div>
        </div>
        
 
        <div class="col-md-3 col-xs-6">
            <div class="section-title">
            <h4 class="title">تمام محصولات</h4>
            <div class="section-nav">
            <div id="slick-nav-4" class="products-slick-nav"></div>
            </div>
            </div>
            
            <div class="products-widget-slick" data-nav="#slick-nav-4">
            <div>
            <!-- product widget -->
            <div class="product-widget">
            <div class="product-img">
            <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
            </div>
            <div class="product-body">
            <p class="product-sumsong">HYUNDAI</p>
            <h3 class="product-name"><a href="storeTV.html">2630035505</a></h3>
            
            </div>
            </div>
            <!-- /product widget -->
            
            <!-- product widget -->
            <div class="product-widget">
            <div class="product-img">
              <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
            </div>
            <div class="product-body">
            <p class="product-sumsong">HYUNDAI</p>
            <h3 class="product-name"><a href="storemachin.html">273012B010</a></h3>
            
            </div>
            </div>
            <!-- /product widget -->
            
            <!-- product widget -->
            <div class="product-widget">
            <div class="product-img">
              <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
            </div>
            <div class="product-body">
            <p class="product-sumsong">HYUNDAI</p>
            <h3 class="product-name"><a href="storeTV.html">2630035505</a></h3>
            
            </div>
            </div>
            <!-- product widget -->
            </div>
            
            <div>
            <!-- product widget -->
            <div class="product-widget">
            <div class="product-img">
              <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
            </div>
            <div class="product-body">
            <p class="product-sumsong">HYUNDAI</p>
            <h3 class="product-name"><a href="storemachin.html">273012B010</a></h3>
            
            </div>
            </div>
            <!-- /product widget -->
            
            <!-- product widget -->
            <div class="product-widget">
            <div class="product-img">
              <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
           
            </div>
            <div class="product-body">
            <p class="product-sumsong">HYUNDAI</p>
            <h3 class="product-name"><a href="storeTV.html">2630035505</a></h3>
            
            </div>
            </div>
            <!-- /product widget -->
            
            <!-- product widget -->
            <div class="product-widget">
            <div class="product-img">
              <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
            </div>
            <div class="product-body">
            <p class="product-sumsong">HYUNDAI</p>
            <h3 class="product-name"><a href="storemachin.html">273012B010</a></h3>
            
            </div>
            </div>
            <!-- product widget -->
            </div>
            </div>
            </div>
            
    <div class="col-md-3 col-xs-6">
    <div class="section-title">
    <h4 class="title">تمام محصولات</h4>
    <div class="section-nav">
    <div id="slick-nav-4" class="products-slick-nav"></div>
    </div>
    </div>
    
    <div class="products-widget-slick" data-nav="#slick-nav-4">
    <div>
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
    <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">HYUNDAI</p>
    <h3 class="product-name"><a href="storeTV.html">2630035505</a></h3>
    
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">HYUNDAI</p>
    <h3 class="product-name"><a href="storemachin.html">273012B010</a></h3>
    
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">HYUNDAI</p>
    <h3 class="product-name"><a href="storeTV.html">2630035505</a></h3>
    
    </div>
    </div>
    <!-- product widget -->
    </div>
    
    <div>
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">HYUNDAI</p>
    <h3 class="product-name"><a href="storemachin.html">273012B010</a></h3>
    
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
   
    </div>
    <div class="product-body">
    <p class="product-sumsong">HYUNDAI</p>
    <h3 class="product-name"><a href="storeTV.html">2630035505</a></h3>
    
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">HYUNDAI</p>
    <h3 class="product-name"><a href="storemachin.html">273012B010</a></h3>
    
    </div>
    </div>
    <!-- product widget -->
    </div>
    </div>
    </div>
    
    <div class="clearfix visible-sm visible-xs"></div>
    
    <div class="col-md-3 col-xs-6">
    <div class="section-title">
    <h4 class="title">تمام محصولات</h4>
    <div class="section-nav">
    <div id="slick-nav-5" class="products-slick-nav"></div>
    </div>
    </div>
    
    <div class="products-widget-slick" data-nav="#slick-nav-5">
    <div>
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">HYUNDAI</p>
    <h3 class="product-name"><a href="storeTV.html">2630035505</a></h3>
    
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">HYUNDAI</p>
    <h3 class="product-name"><a href="storemachin.html">273012B010</a></h3>
    
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">HYUNDAI</p>
    <h3 class="product-name"><a href="storeTV.html">2630035505</a></h3>
    
    </div>
    </div>
    <!-- product widget -->
    </div>
    
    <div>
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">HYUNDAI</p>
    <h3 class="product-name"><a href="storemachin.html">273012B010</a></h3>
    
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">HYUNDAI</p>
    <h3 class="product-name"><a href="storeTV.html">2630035505</a></h3>
    
    </div>
    </div>
    <!-- /product widget -->
    
    <!-- product widget -->
    <div class="product-widget">
    <div class="product-img">
      <img src="{% static '' %}./product/273012B010/273012B010(1).jpg" alt="">
    </div>
    <div class="product-body">
    <p class="product-sumsong">HYUNDAI</p>
    <h3 class="product-name"><a href="storemachin.html">273012B010</a></h3>
    
    </div>
    </div>
    <!-- product widget -->
    </div>
    </div>
    </div>
    
    </div>
    <!-- /row -->
    </div>
    <!-- /container -->
    </div>
    <!-- /SECTION -->
  
    


    <!-- NEWSLETTER -->
<div id="newsletter" class="section"></div>
<!-- /NEWSLETTER -->
{%  block mini_product_index %} {% include 'aminicar/main/mini_product_index.html' %} {% endblock %}
