

/*=========================================================
	---->  pop up
===========================================================*/




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999; /* مقدار بالای z-index */
}

.popup-content {
    background: linear-gradient(135deg, #4a4a4a, #1a1a1a);
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    color: #f5f5f5;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10000; /* مقدار بالای z-index */
}

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #f5f5f5;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .close-btn:hover {
    color: #ff4d4d;
  }
  
  .ok-btn {
    background-color: #ff4d4d;
    color: #f5f5f5;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .ok-btn:hover {
    background-color: #e63b3b;
  }
  
  @media (max-width: 600px) {
    .popup-content {
        width: 95%;
        padding: 20px;
    }
  
    .ok-btn {
        font-size: 14px;
        padding: 10px 15px;
    }
  
    .close-btn {
        font-size: 22px;
    }
  
    p {
        font-size: 16px;
    }
  }