{% extends 'aminicar/main/base.html' %}
{% load static%}
{%  block content %} 
<!-- SECTION -->
<div class="section">
<!-- container -->
<div class="container">
<!-- row -->
<div class="row">
<!-- Product main img -->
<div class="col-md-5 col-md-push-2">
<div id="product-main-img">
<div class="product-preview">
    <img src="{% static '' %}./product/1884111051/1884111051(1).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/1884111051/1884111051(2).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/1884111051/1884111051(3).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/1884111051/1884111051(1).jpg" alt="">
</div>
</div>
</div>
<!-- /Product main img -->

<!-- Product thumb imgs -->
<div class="col-md-2  col-md-pull-5">
<div id="product-imgs">
<div class="product-preview">
<img src="{% static '' %}./product/1884111051/1884111051(1).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/1884111051/1884111051(2).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/1884111051/1884111051(3).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/1884111051/1884111051(1).jpg" alt="">
</div>
</div>
</div>
<!-- /Product thumb imgs -->

<!-- Product details -->
<div class="col-md-5">
<div class="product-details">
<h2 class="product-name">واشر سر سیلندر  HYUNDAI</h2>
<div>
<div class="product-rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
</div>
<a class="review-link" href="#">10 Review(s) | Add your review</a>
</div>
<div>
<h3 class="product-price">ریال20,000,000 <del class="product-old-price">24,000,000 ریال  </del></h3>
<span class="product-available">In Stock</span>
</div>
<p class="explan_product">واشر سرسیلندر موتور خودرو هیوندای و کیا 2231125212
    واشر سرسیلندر موتور خودرو هیوندای و کیا 2231125212: واشر سرسیلندر  در قدرت و راندمان
    
    موتور های ماشین های سبک و سواری بسیار تاثیر گذار است. وظایف این قطعه ممانعت از ورود مایعات
    
    مثل آب و روغن به داخل محفظه موتور می باشد و همچنین روغنی که در درون
    
    موتور در جریان است را هدایت می کند تا بهترین بهره وری را موتور داشته باشد.
    </p>

<div class="add-to-cart">

<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
</div> 

<ul class="product-btns">
<li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>

</ul>


<ul class="product-links">
<li>Share:</li>
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-telegram"></i></a></li>
</ul>

</div>
</div>
</div>
<!-- /row-->
</div>
<!-- /container -->
</div>
<!-- /section -->
  
<!-- FOOTER -->
{% endblock %}

