{% extends 'aminicar/main/base.html' %}
{% load static%}
{%  block content %} 
<!-- SECTION -->
<div class="section">
<!-- container -->
<div class="container">
<!-- row -->
<div class="row">
<!-- Product main img -->
<div class="col-md-5 col-md-push-2">
<div id="product-main-img">
<div class="product-preview">
    <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/2630035505/2630035505(3).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/2630035505/2630035505(3).jpg" alt="">
</div>
</div>
</div>
<!-- /Product main img -->

<!-- Product thumb imgs -->
<div class="col-md-2  col-md-pull-5">
<div id="product-imgs">
<div class="product-preview">
<img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/2630035505/2630035505(3).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/2630035505/2630035505(2).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/2630035505/2630035505(3).jpg" alt="">
</div>
</div>
</div>
<!-- /Product thumb imgs -->

<!-- Product details -->
<div class="col-md-5">
<div class="product-details">
<h2 class="product-name">فیلتر روغن HYUNDAI</h2>
<div>
<div class="product-rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
</div>
<a class="review-link" href="#">10 Review(s) | Add your review</a>
</div>
<div>
<h3 class="product-price">ریال2,250,000 <del class="product-old-price">2,300,000 ریال  </del></h3>
<span class="product-available">In Stock</span>
</div>
<p class="explan_product">فیلتر روغن با پارت نامبر HYUNDAI 2630035505 از قطعات یدکی مصرفی خودرو است. نمونه اصل و اورجینال وارداتی از برندGENUINE در فروشگاه قطعات یدکی خودر smart carبه فروش می‌رسد. این فیلتر روغن هیوندای  اصلی با کیفیت بسیار بالا برای موتور هیوندای  طراحی شده است. کاغذ موجود در این فیلتر روغن ذره‌های معلق در روغن موتور را جذب می‌کند. یکی از مشکلاتی که صاحبان خودرو هیوندای  دارند این است که فیلتر با کیفیت و اصل را با قیمت مناسب بخرند. تا آن را با خیال آسوده روی خودرو خود نصب کنند، تا سرویس بعدی خوردو مشکلی نداشته باشند و موتور خودرو آسیب نبیند'</p>

<div class="add-to-cart">

<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
</div>

<ul class="product-btns">
<li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>

</ul>


<ul class="product-links">
<li>Share:</li>
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-telegram"></i></a></li>
</ul>

</div>
</div>
</div>
<!-- /row-->
</div>
<!-- /container -->
</div>
<!-- /section -->
  
<!-- FOOTER -->
{% endblock %}

