{% extends 'aminicar/main/base.html' %}
{% load static%}
{%  block content %} 
<!-- SECTION -->
<div class="section">
<!-- container -->
<div class="container">
<!-- row -->
<div class="row">
<!-- Product main img -->
<div class="col-md-5 col-md-push-2">
<div id="product-main-img">
<div class="product-preview">
    <img src="{% static '' %}./product/584113L000/584113L000(1).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/584113L000/584113L000(2).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/584113L000/584113L000(3).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/584113L000/584113L000(1).jpg" alt="">
</div>
</div>
</div>
<!-- /Product main img -->

<!-- Product thumb imgs -->
<div class="col-md-2  col-md-pull-5">
<div id="product-imgs">
<div class="product-preview">
<img src="{% static '' %}./product/584113L000/584113L000(1).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/584113L000/584113L000(2).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/584113L000/584113L000(3).jpg" alt="">
</div>

<div class="product-preview">
    <img src="{% static '' %}./product/584113L000/584113L000(1).jpg" alt="">
</div>
</div>
</div>
<!-- /Product thumb imgs -->

<!-- Product details -->
<div class="col-md-5">
<div class="product-details">
<h2 class="product-name">دیسک ترمز چرخ عفب  HYUNDAI</h2>
<div>
<div class="product-rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
</div>
<a class="review-link" href="#">10 Review(s) | Add your review</a>
</div>
<div>
<h3 class="product-price">ریال50,000,000 <del class="product-old-price">55,000,000 ریال  </del></h3>
<span class="product-available">In Stock</span>
</div>
<p class="explan_product">584113L000دیسک چرخ عقب هیوندای آزرا مدل ۲۰۰۷ تا ۲۰۰۹  ,یکی از اجزای کلیدی و ضروری برای هیوندا است که با کیفیت بالا و طراحی مهندسی شده، عملکرد بهینه و مطمئن را برای خودرو شما فراهم می‌کند. این قطعه به منظور افزایش کارایی و ایمنی خودرو طراحی شده و می‌تواند تجربه رانندگی شما را بهبود بخشد. با استفاده از DISC-REAR BRAKE، می‌توانید اطمینان حاصل کنید که خودروی شما در بهترین حالت ممکن عمل می‌کند و عمر مفید آن افزایش می‌یابد.</p>

<div class="add-to-cart">
 
<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
</div>

<ul class="product-btns">
<li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>

</ul>


<ul class="product-links">
<li>Share:</li>
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-telegram"></i></a></li>
</ul>

</div>
</div>
</div>
<!-- /row-->
</div>
<!-- /container -->
</div>
<!-- /section -->
  
<!-- FOOTER -->
{% endblock %}

