{% extends 'aminicar/form/base.html' %}
{% load static %}
{% block content %} 

    <!-- 404 Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
            <div class="col-md-6 text-center p-4">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h1 class="display-1 fw-bold">۴۰۴</h1>
                <h1 class="mb-4">صفحه پیدا نشد</h1>
                <p class="mb-4">
                    با عرض پوزش، به‌نظر می‌رسد مشکلی پیش آمده است. لطفاً به صفحهٔ اصلی بازگردید و مورد را از طریق ایمیل زیر به ما اطلاع دهید:<br>
                    saeedamini506750@email.com
                </p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'product:products' %}">
                    بازگشت به صفحهٔ اصلی
                </a>
            </div>
        </div>
    </div>
    <!-- 404 End -->

{% endblock %}
